html, body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
	background-color: #0e6cc4;
	overflow-x:hidden;
	overflow-y:hidden;
}

header{
	height: 3em;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

header div{
	height: 100%;
	display: inline-block;
}

a {text-decoration: none;}

#info{
	width: 3em;
	background-image: url("../images/info.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#textInfo{
	color: white;
	font-family: arial;
	width: 25%;
	float: left;
	line-height: 3em;
}

#clock{
	font-family: arial;
	line-height: 3em;
	float: right;
	margin-right: 1em;
	color: white;
}

/*ENF OF HEADER********************************/

#games{
	width: 1120em;
	position: absolute;
	top: .5em;
	left: 0;
	padding: 5em;
	z-index: 99;
}

#games2{
	width: 1120em;
	position: absolute;
	top: .5em;
	left: 0;
	padding: 5em;
	z-index: 1;
}

#games3{
	width: 1120em;
	position: absolute;
	top: .5em;
	left: 0;
	padding: 5em;
	z-index: -1;
}

.squareGame{
	height: 5em;
	width: 5em;
	margin-left: 1em;
	vertical-align: top;
	display: inline-block;
	transition: 0.3s ease;
}

.squareGame2{
	margin-top: 10em;
	height: 5em;
	width: 5em;
	margin-left: 1em;
	vertical-align: top;
	display: inline-block;
	transition: 0.3s ease;
}

.squareGame3{
	margin-top: 19em;
	height: 5em;
	width: 5em;
	margin-left: 1em;
	vertical-align: top;
	display: inline-block;
	transition: 0.3s ease;
}

.squareGame:hover{
	height: 7em;
	width: 7em;
	border: 3px solid white;
	cursor: pointer;
}

.squareGame2:hover{
	height: 7em;
	width: 7em;
	border: 3px solid white;
	cursor: pointer;
}

.squareGame3:hover{
	height: 7em;
	width: 7em;
	border: 3px solid white;
	cursor: pointer;
}

.squareGame:hover .imgGame{
	height: 68%;
}

.squareGame2:hover .imgGame2{
	height: 68%;
}

.squareGame3:hover .imgGame3{
	height: 68%;
}

.imgGame{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.imgGame2{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.imgGame3{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.gameText{
	color: white;
	font-family: arial;
	text-align: center;
	line-height: 2.4em;
	background-color: rgba(255,255,255,.2);
}

.gameText2{
	color: white;
	font-family: arial;
	text-align: center;
	line-height: 2.4em;
	background-color: rgba(255,255,255,.2);
}

.gameText3{
	color: white;
	font-family: arial;
	text-align: center;
	line-height: 2.4em;
	background-color: rgba(255,255,255,.2);
}

.gameTitle{
	position: absolute;
	color: white;
	font-size: 1.2em;
	font-family: Arial;
	transform: translate(0em,.2em);
}

.gameTitle2{
	position: absolute;
	color: white;
	font-size: 1.2em;
	font-family: Arial;
	transform: translate(0em,.2em);
}

.gameTitle3{
	position: absolute;
	color: white;
	font-size: 1.2em;
	font-family: Arial;
	transform: translate(0em,.2em);
}
/*SQUARE IMAGE*****************************************/

.ascii{
	font-weight: bold;
}

.hen{
	background-image: url("../images/hen.png");
}

.ftp{
	background-image: url("../images/ftp.png");
}

.dumper{
	background-image: url("../images/dumper.png");
}

.vr{
	background-image: url("../images/vr.png");
}

.webrte{
	background-image: url("../images/webrte.png");
}

.fan{
	background-image: url("../images/fan.png");
}

.test{
	background-image: url("../images/test.png");
}

.test{
	background-image: url("../images/test.png");
}

.test{
	background-image: url("../images/test.png");
}

.Linux{
	background-image: url("../images/linux.png");
}

/*waves****************************/


.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 15000ms infinite linear;
}

.wave.-three {
  animation: drift 14500ms infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 10000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}